@import '../_colors.scss';

.header-container {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $dark-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    .tools-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

    }
    .search-container, .filter-container {
        width: 100%;
    }
    .search-container {
        display: flex;
        gap: 5px;
        input {
            width: 100%;
            padding: 5px;
            outline: none;
            background-color: $dark-grey;
            border: none;
            color: white;
        }
        .love-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $dark-grey;
            border: none;
            width: 50px;
        }
        .love-btn:hover {
            cursor: pointer;
        }
    }
    .filter-container {
        display: flex;
        gap: 5px;
        div {
            width: 100%;
        }
        button{
            .filter-icon {
                margin-right: 5px;
                font-size: 15px;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            color: $silver-gray;
            background-color: $dark-grey;
            border: none;
            display: flex;
            align-items: center;
            width: 100%;
            transition: color 200ms;
        }
        button:hover {
            color: $gold;
        }
    }
    button:hover {
        cursor: pointer;
        transform: scale(1.1)
    }
    button:active {
        transform: scale(0.9);
    }
    .change-moshaf-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        position: relative;
    }
    .mohafs-main-container {
        position: absolute;
        top: 25px;
        left: -10px;
        display: grid;
        grid-template-columns: 1fr 300px 1fr;
        transition: opacity 500ms;

    }
    .mohafs-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 15px;
        padding: 15px 10px;
        background-color: $dark-grey;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        z-index: 1;
        button {
            transform: none;
        }
   
    }

}
