@use "../colors";
.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 65vh;
    p {
        margin-top: 10px;
        font-size: 90%;
        color: colors.$light-gray;
    }
}