@import "../colors";
.surah-box {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.surah-box:hover {
    cursor: pointer;
    background-color: $esmerald-green;
}