/* Background Color */
$dark-grey: #1e1e1e;

/* Primary Colors (Highlight, Buttons, Active States) */
$esmerald-green: #1db954;
$gold: #ffd700;

/* Secondary Colors (Accents, Borders, Subtle Highlights) */
$teal: #008080;
$silver-gray: #a0a0a0;

/* Text Colors */
$white: #ffffff /* Primary Text */;
$light-gray: #d4d4d4 /* Secondary Text */;

/* Progress Color */
$blue: #026ff3;
