/* Background Color */
$dark-grey: #1E1E1E;

/* Primary Colors (Highlight, Buttons, Active States) */
$esmerald-green: #1DB954;
$gold: #FFD700;

/* Secondary Colors (Accents, Borders, Subtle Highlights) */
$teal: #008080;
$silver-gray: #A0A0A0;

/* Text Colors */
$white: #FFFFFF /* Primary Text */;
$light-gray: #D4D4D4 /* Secondary Text */