@import './_colors.scss';
* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", serif;
}

body {
    padding: 10px;
    padding-bottom: 70px;
    background-color: $dark-grey;
    color: $white;
}

hr {
    border: 1px solid $silver-gray;
    border-radius: 10px;
}