@import './_colors.scss';
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    padding-top: 120px;
    padding-bottom: 70px;
    background-color: $dark-grey;
    color: $white;
}

hr {
    border: 1px solid $silver-gray;
    border-radius: 10px;
}

.en-font {
    font-family: "Ubuntu", serif;
}

.ar-font {
    font-family: "El Messiri", serif;
}